body{
   height: 85vh
}
.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
h1, a, option, button, select, text {
    font-family: rubik;
    color: #00A850 !important;
    fill: #00A850 !important;
}
h1 {
    margin-bottom: 30px !important;
}
select {
    border: 2px solid #00A850 !important;
    cursor: pointer;
}
select:hover {
    border: 2px solid #00A8502E !important;
    }
rect {
    transition: 2s;
    background: red !important;
}

#piechart.loading {
    display: none;
}

#loader {
    visibility: hidden;
}

    #loader.loading {
        visibility: visible;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        margin-top: 160px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}